{% extends 'base.html' %}
{% load static%}
{% block title %} 
	Cart
{% endblock %}
{% block content%}



<div class="text-center">
	<br>
	<div class="text-center product-title">
		Shopping Cart		
	</div>
	<div class="row mx-auto">
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
			<table class="table cart-table">
				<thead class="cart-thead" >
					<tr>
						<th colspan="4">
							Yout items
						</th>
					</tr>
				</thead>
				{% for i in '123' %}
				<tr>
					<td>
						<a href=""> 
							<img src="{% static 'images/beauty.png' %}" width="150" height="150">
						</a>
					</td>
					<td class="text-left">
						beauty
						<br>
						SKU:7
						<br>
						Unit Price: 20$
						<br>
						Quantity: 3 x 20$

						
					</td>

					<td>
						60$
					</td>
					<td>
						<a href=""><i class="material-icons md-24 cart-icon ">add_shopping_cart</i></a>
						<a href=""><i class="material-icons md-24 cart-icon ">remove_circle_outline</i></a>
						<a href=""><i class="material-icons md-24 cart-icon ">delete</i></a>
					

					</td>

				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
			<table class="table cart-table">
				<thead class="cart-thead" >
					<tr>
						<th colspan="4">
							Chek out
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Please check your cart before.
						</td>
					</tr>
					<tr class="text-start">
						<td>
							Your total bill is: <strong>60$</strong>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mx-auto d-grid gap-2">
				<a href="">
					<button type="button" class="btn btn-lg bt-primary bg-dark text-white"> back to products</button>
				</a>
			</div>



		</div>
	</div>
</div>













{% endblock %}